@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  color: #C4C1D0;
  background-color: #292936;
}

/* SCROLL BODY */
body {
  overflow: scroll;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  transition: 1s;
}
body::-webkit-scrollbar {
  width: 12px;
  background: rgb(222, 219, 219);
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #363141;
}
.gradient-shawdow {
  filter: drop-shadow(0 0 2em #74f9be);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 8rem;
  --card-width: 8rem;
  --border-radius: 25px;
}
@media (min-width: 768px) {
  :root {
    --card-height: 17rem;
    --card-width: 17rem;
    --border-radius: 50px;
  }
}
.card {
  background: #292936;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    var(--rotate),
    #393D4F,
    #74F9BE 43%,
    #393D4F
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.animation-float {
  animation: float 2.2s ease-in-out infinite both;
}
@keyframes float {
  0% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(5%);
  }
}

.nav-list-float {
  z-index: 5000;
  width: 424px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgb(130, 137, 148);
  border-radius: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 12px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.bg-gradient {
  background-color: #292936;
  background-image: url("/gradient.png");
  background-size: cover;
}

.bg-gradient-try-free {
  background-color: #292936;
  background-image: url("/gradient-2.png");
  background-size: cover;
}


.shawdow-modal {
  filter: drop-shadow(0 0 20em #74F9BE);
}